@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300;1,9..40,400&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-bg: #0A0A0A;
  --color-brand-red: #E3000F;
  --color-brand-muted: #1A1A1A;
  
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

body {
  background-color: var(--color-brand-bg);
  color: white;
  font-family: var(--font-body);
}

::selection {
  background-color: var(--color-brand-red);
  color: white;
}

